@import "~bulma/sass/utilities/_all";

$box-shadow: none;
$body-background-color: aliceblue;


// Paginazione
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;
$pagination-focus-border-color: $primary;
// $primary: green;
// $primary-invert: blue;
// $colors: (

//     "primary": ($primary, $primary-invert),

// );

@import "~bulma";
@import "~buefy/src/scss/buefy";
